<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      evRoute
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body class="bg">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="d-flex justify-content-end social_icon">
      </div>
      <div class="container-fluid">
        <a class="navbar-brand text-bg-primary" href="/">
          <img src="/images/wordLogo.png" alt="evRoute" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            {{#if logged_in}}
              <li class="nav-item">
                <a
                  class="nav-link text-bg-primary active"
                  href="/dashboard"
                >Dashboard</a>
              </li>
              <li class="nav-item"><a
                  class="nav-link text-bg-primary active"
                  href="/profile"
                >Profile</a></li>
              <li class="nav-item"><a
                  class="nav-link text-bg-primary active"
                  href="/changePassword"
                >Change Password</a></li>
              {{#if is_admin}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Administration
                  </a>
                  <ul class="dropdown-menu bg">
                    <li>
                      <a
                        class="dropdown-item"
                        href="/admin/users"
                      >User Management</a></li>
                      <li><a
                        class="dropdown-item"
                        href="/admin/ev"
                      >EV Management</a></li>
                  </ul>
                </li>
              {{/if}}
              <li class="nav-item"><a
                  class="nav-link text-bg-primary active"
                  id="logout"
                  href="#"
                >Logout</a></li>
            {{else}}
              <li class="nav-item"><a
                  class="nav-link text-bg-primary active"
                  href="/"
                >Login</a></li>
            {{/if}}
          </div>
        </div>
      </div>

    </nav>

    <!-- Main -->
    <main class="container">
      <div class="row">
        {{{body}}}
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-bg-primary bg-primary p-2">
      &copy; 2022 We're Trying
    </footer>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/models/ElectricVehicle.js"
  </body>
</html>