<form
  id="changePasswordForm"
  class="col-11 col-md-5 col-lg-4 col-xl-3 p-2 my-2 mx-auto"
>
  <div class="card border-primary">
    <div class="card-header bg-primary text-bg-primary">
      Change Password
    </div>
    <div class="p-2">
      <label id="lblUserName">{{user.name}}</label>
    </div>
    <div class="p-2">
      <label for="txtCurrentPassword">Current Password</label>
      <input class="form-control" type="password" id="txtCurrentPassword" />
    </div>
    <div class="p-2">
      <label for="txtNewPassword">New Password</label>
      <input class="form-control" type="password" id="txtNewPassword" />
    </div>
    <div class="p-2">
      <label for="txtConfirmPassword">Confirm Password</label>
      <input class="form-control" type="password" id="txtConfirmPassword" />
    </div>
    <div class="p-2 mx-auto">
      <button
        class="btn btn-primary text-bg-primary"
        type="submit"
      >Submit</button>
    </div>
  </div>
</form>

<script src="/js/ChangePassword.js"></script>