<form
  id="createAccountForm"
  class="col-11 col-md-5 col-lg-4 col-xl-3 p-2 my-2 mx-auto"
>
  <div class="card border-primary">
    <div class="card-header bg-primary text-bg-primary">
      Create Account
    </div>
    <div class="p-2">
      <label for="txtUserName">User Name</label>
      <input class="form-control" type="text" id="txtUserName" />
    </div>
    <div class="p-2">
      <label for="txtEmail">Email</label>
      <input class="form-control" type="text" id="txtEmail" />
    </div>
    <div class="p-2">
      <label for="txtPassword">Password</label>
      <input class="form-control" type="password" id="txtPassword" />
    </div>
    <div class="p-2 mx-auto">
      <button
        class="btn btn-primary text-bg-primary"
        type="submit"
      >Submit</button>
    </div>
  </div>
</form>

<script src="/js/createAccount.js"></script>