<h1>Add a address</h1>

<form id="saveAddress" action="/", method="POST">
    <input id="txtAddress" type="text" placeholder="street" value="{{user_profile.address}}"> 
    <input type="submit" value="submit">
</form>

<script src="/js/profile.js"></script>



